PORT=3000
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
CONTACT_TO_EMAIL=hello@thisdude.com
CONTACT_FROM_EMAIL=This Dude's Portfolio <hello@thisdude.com>
ALLOWED_ORIGINS=https://thisdude.com,https://www.thisdude.com,http://localhost:5173
